@import url('https://fonts.googleapis.com/css?family=Staatliches');

/* SCROLL BAR */
/**************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* HTML AND BODY */
/*****************/
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Staatliches;
  font-size: 1.2em;
  background: url("images/heroes-bg2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
  background-color: rgba(255,255,255,0.9);
  margin-top: 10px;
  height: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 50px 10px 50px;
  color: #23395B;
}

nav ul li a:hover {
  color: blue;
  color: #9EADC8;
}

nav ul li a:visited {
  color: black;
}

nav #nav-logo {
  height: 80px;
  weight: 80px;
  overflow: visible;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.banner {
  text-align: center;
}

.banner #banner-img {
  height: auto;
  width: 50%;
  margin: 0 auto;
  animation: brightness 3s infinite linear both;
/*   -webkit-transition: all 1s ease;
   transition:  all 1s ease;
   filter: brightness(130%);*/
}
@keyframes brightness {
0% {filter: brightness(100%);}
50%{filter: brightness(200%);}
100% {filter: brightness(100%);}
}

.main-body {
  margin: 2% 20%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}

.logreg-body {
  margin: 2% 20%;
}

.card {
  opacity: 0.9;
}

.card-body input {
  opacity: 1;
}

.main-body .home-title {
  text-align: center;
}

.recent-heroes {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.recent-heroes li {
  list-style: none;
  position: relative;
}

.recent-heroes li .icon {
  border-radius: 50%;
}

.recent-heroes li:hover {
  filter: grayscale(80%);
}
.recent-heroes li .hero-name {
  position: absolute;
  cursor: default;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  display: none;
}

.recent-heroes li:hover .hero-name {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}

.form-content {
  margin: 0 auto;
  width: 80%;
}

#submitBtn {
  float: right;
}

.intro {
  text-align: center;
}

#formContainer {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.5em;
}

#logRegForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#logRegForm input {
  padding: 5px;
  margin: 5px;
}

#logRegForm button {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
}

#searchHero {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 80%;
}

.all-heroes-limiter {
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
}

.all-heroes-limiter img {
  max-height: 80px;
  max-width: auto;
}

.all-heroes ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}
.all-heroes ul li {
  position: relative;
  margin: 2px;
}

.all-heroes ul li a {
  padding: 0;
}

.all-heroes ul li img:hover{
  filter: brightness(150%);
}

.all-heroes ul li .image-thumb-text {
  position: absolute;
  display: block;
  bottom: 0%;
  left: 0%;
  color: white;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  /*transform: translate(-50%, -50%);*/
}

.all-heroes ul div {
  display: flex;
  justify-content: space-around;
}

.hero-image-thumb {
  max-width:200px;
  max-height:280px;
  width: auto;
  height: auto;
}

.single-hero-li {
  list-style-type: none;
}
.single-hero-body {
  font-size: 1.5em;
}

.hero-intro {
  padding-top: 40px;
  display: flex;
}

.hero-intro #hero-image {
  max-height: 500px;
  max-width: auto;
}

.hero-class-image {
  height: 25px;
  width: auto;
}

#hero-intro-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

#universe-logo {
  width: 40px; 
  height: 40px;
}

.hero-description {
  margin-left: 20px;
}

.hero-talents {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.more-hero {
  padding-top: 40px;
  display: flex;
  /*align-items: center;*/
}

#skill-table {
  margin-top: 20px;
  background-color: #464c56;
}
.table-head {
  font-weight: 700;
}

.table thead tr th {
  padding: 0;
}

.table tbody tr td {
  padding: 0;
}

#updateBtn, #deleteBtn{
  margin: 20px;
}

img {
    max-width: 100%;
    display: block;
}

.thumbnail {
  position: absolute;
    top: 50%;
    left: 50%;
    
    width: 320px;
    height: 240px;
    
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}

.single-hero-li {
    overflow: hidden;   
}

.single-hero-li img {
    -webkit-transition: all 0.8s ease-in-out; /* Safari and Chrome */
    -moz-transition: all 0.8s ease-in-out; /* Firefox */
    -o-transition: all 0.8s ease-in-out; /* IE 9 */
    -ms-transition: all 0.8s ease-in-out; /* Opera */
    transition: all 0.8s ease-in-out;
}

.single-hero-li:hover img {
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -moz-transform:scale(1.3); /* Firefox */
    -ms-transform:scale(1.3); /* IE 9 */
    -o-transform:scale(1.3); /* Opera */
     transform:scale(3);
}

.invalidInput {
  color: red;
  font-weight: bold;
}

.validInput {
  color: green;
  font-weight: bold;
}

.frontpage-collection {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.frontpage-account {
  margin-top: 5%;
}