@import url('https://fonts.googleapis.com/css?family=Staatliches');

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Staatliches;
  background: url("images/heroes-bg2.jpg") no-repeat fixed; 
  background-size: 100% 100%;
  font-size: 1.2em;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.9);
  margin-top: 0;
}

nav ul li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 50px 10px 50px;
  color: #23395B;
}

nav ul li a:hover {
  color: blue;
  color: #9EADC8;
}

nav ul li a:visited {
  color: black;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.banner {
  text-align: center;
}

.banner #banner-img {
  height: 150px;
}

.main-body {
  margin: 2% 20%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 25px;
  height: 1000px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}

.logreg-body {
  margin: 2% 20%;
  /*padding-top: 40px;*/
}

.card {
  opacity: 0.9;
}

.card-body input {
  opacity: 1;
}

.main-body .home-title {
  text-align: center;
}

.recent-heroes {
  display: flex;
  justify-content: space-around;
  padding: 0;
  flex-wrap: wrap;
}

.recent-heroes li {
  list-style: none;
  position: relative;
}

.recent-heroes li .icon {
  border-radius: 50%;
}

.recent-heroes li .icon:hover {
  filter: grayscale(80%);
}
.recent-heroes li .hero-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  display: none;
}

.recent-heroes li:hover .hero-name {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}

.form-content {
  margin: 0 auto;
  width: 80%;
}

#submitBtn {
  float: right;
}

.intro {
  text-align: center;
}

#formContainer {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.5em;
}

#logRegForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#logRegForm input {
  padding: 5px;
  margin: 5px;
}

#logRegForm button {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
}

.all-heroes ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.all-heroes ul div {
  display: flex;
  justify-content: space-around;
}

.single-hero-body {
  font-size: 1.5em;
}

.hero-intro {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-class-image {
  height: 50px;
  width: auto;
}

#hero-intro-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

#universe-logo {
  width: 50px; 
  height: 50px;
}

.hero-description {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.hero-talents {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.more-hero {
  padding-top: 40px;
  display: flex;
  /*align-items: center;*/
}